---
import BaseLayout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const blogEntries = await getCollection("blog");
    return blogEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title}>
    <main class="py-12 px-4">
        <article
            class="max-w-4xl mx-auto bg-white p-8 md:p-16 shadow-xl rounded-3xl"
        >
            <header class="mb-12 border-b pb-12">
                <h1 class="text-4xl font-black mb-6">{entry.data.title}</h1>
                <p class="text-xl text-slate-500 italic">
                    {entry.data.description}
                </p>
            </header>
            <div class="prose prose-slate prose-blue max-w-none">
                <Content />
            </div>
        </article>
    </main>
</BaseLayout>
