---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

---

<!doctype html>``
<html lang="ru">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
<h3>Привет, я AlexSnow! 🧑‍💻</h3>
<p>Добро пожаловать в мой новый блог, посвященный разработке и технологиям.</p>	
<p>Здесь я буду делиться своими мыслями, опытом и знаниями в области программирования, веб-разработки и многого другого. Моя цель - создать сообщество единомышленников, где мы сможем обмениваться идеями и учиться друг у друга.</p>
<p>Оставайтесь на связи, чтобы не пропустить новые статьи и обновления!</p>
<p>Спасибо за посещение моего блога!</p>
<style>
	h3 {
		font-size: 1.5rem;
	}
		p {
		font-size: 1.2rem;
		line-height: 1.6;
		margin-bottom: 1rem;
	}
		</style>				
		</main>
		<Footer />
		
	</body>
</html>
